<form  [formGroup]="searchFormGroup" (ngSubmit)="onSearch()" >
  <div class="row overide-row">
    <div class="col-xs-2">
      <label class="normal">ปีการศึกษา *</label>
      <input
      type="text"
      class="input-year"
      pInputText
      pattern="\d*"
      maxlength="4"
      minlength="4"
      formControlName="year"
      [(ngModel)]="searchForm.search_criteria.year">
    </div>

    <div class="col-xs-10">
        <label class="normal">ทุนการศึกษา</label>
        <p-autoComplete
        class="autocomplete-scholarships"
        maxlength="50"
        [dropdown]="true"
        field="name"
        [suggestions]="scholarshipAnnouncementList"
        [forceSelection]="true"
        [(ngModel)]="scholarshipAnnouncement"
        (onSelect)="onSelectScholarshipAnnouncement()"
        formControlName="announcement_ref"
        (onDropdownClick)="handleCompleteClickScholarshipAnnouncement()"
        (completeMethod)="autocompleteScholarshipAnnouncement($event)">
        </p-autoComplete>
    </div>
  </div>





<!-- Action buttons here -->
<div class="row overide-row btn-row">
<div class="col-xs-6 btn-panel-left">
  <button pButton
    class="btn-search primary"
    label="ค้นหาข้อมูล" type="submit"></button>
</div>
<div class="col-xs-6 btn-panel-right">
    <button pButton type="button"
      (click)="onReset()"
      class="btn-reset ui-button-warning"
      label="เริ่มใหม่"></button>
  </div>
</div>

</form>
  <p-dataTable [value]="scholarshipEarningList"
    [(selection)]="scholarshipEarning"
    selectionMode="single"
    dataKey="announcement_ref"
    (onRowSelect)="onRowSelect($event)"
    [rows]="10" [paginator]="true"
    [pageLinks]="3"
    [rowsPerPageOptions]="[5,10,20]"
    emptyMessage="ไม่พบข้อมูล" [loading]="onLoad">
    <p-column field="" header="ลำดับ" styleClass="row-number">
        <ng-template pTemplate="body" let-index="rowIndex">{{index+1}}</ng-template>
      </p-column>
    <p-column field="scholarship_name" header="ชื่อทุนการศึกษา" styleClass="scholarship_name"></p-column>
    <p-column field="round" header="รอบที่" styleClass="round"></p-column>
    <p-column field="announce_result_date" header="วันที่ประกาศผล" styleClass="announce_result_date"></p-column>
    <p-column field="interview" header="มีสิทธิ์สัมภาษณ์" styleClass="interview"></p-column>
    <p-column field="grantee" header="ได้รับทุน" styleClass="grantee"></p-column>

  </p-dataTable>



