<div class="content">
  <div class="header">
    <p>เข้าสู่ระบบ</p>
    <div class="underline"></div>
  </div>
  <div class="welcomb">ยินดีต้อนรับกลับเข้าสู่ระบบ!</div>
  <form [formGroup]="group">
    <div class="margin-input">
      <input type="text"
             pInputText
             placeholder="ชื่อผู้ใช้"
             formControlName="username"
             name="username" />
    </div>
    <div class="margin-input">
      <input type="password"
             pInputText
             placeholder="รหัสผ่าน"
             formControlName="password"
             name="password" />
    </div>

    <div class="fail-box">
      <div class="failed-logedin"
           *ngIf="logedinFalse">ไม่สามารถเข้าสู่ระบบได้ {{failReson}}</div>
    </div>
    <div class="margin-btn">
      <button pButton
              type="submit"
              class="btn-normal"
              (click)="onLogingIn()"
              [disabled]="!group.valid"
              label="เข้าสู่ระบบ"></button>
    </div>
  </form>
  <div>
    <a routerLink="/forgot">ลืมระหัสผ่าน?</a>
  </div>
  <div>
    <a routerLink="/register">ลงทะเบียนผู้ใช้</a>
  </div>
</div>