<form [formGroup]="group">
  <div class="row overide-row">
    <div class="col-xs-12">
      <label class="normal"> รหัสผ่านเดิม</label>
      <div>
        <input type="text"
               formControlName="old_pwd"
               name="old_pwd"
               pInputText>
      </div>
    </div>
  </div>
  <div class="row overide-row">
    <div class="col-xs-12">
      <label class="normal"> รหัสผ่านใหม่</label>
      <div>
        <input type="text"
               formControlName="new_pwd"
               name="new_pwd"
               pInputText>
      </div>
    </div>
  </div>
  <div class="row overide-row">
    <div class="col-xs-12">
      <label class="normal"> ยืนยันรหัสผ่าน</label>
      <div>
        <input type="text"
               formControlName="verify_pwd"
               name="verify_pwd"
               pInputText>
      </div>
    </div>
  </div>
</form>
<div class="row overide-row btn-row">
  <div class="col-xs-6 btn-panel-left">
    <button pButton
            type="button"
            (click)="onClickSubmit()"
            class="btn-save ui-button-success"
            label="บันทึกข้อมูล"></button>
  </div>
</div>