<div class="content">
  <div class="header">
    <p>ลืมรหัสผ่าน?</p>
    <div class="underline"></div>
  </div>
  <div class="welcomb">กรุณาระบุ ชื่อผู้ใช้ และ อีเมลล์</div>
  <form [formGroup]="group">
    <div class="margin-input">
      <input type="text"
             pInputText
             placeholder="ชื่อผู้ใช้"
             formControlName="username"
             name="username" />
    </div>
    <div class="margin-input">
      <input type="email"
             pInputText
             placeholder="อีเมลล์"
             formControlName="email"
             name="email" />
    </div>

    <div class="margin-btn">
      <button pButton
              type="submit"
              class="btn-normal"
              (click)="onForgot()"
              [disabled]="!group.valid"
              label="ส่ง"></button>
    </div>
  </form>
</div>