<div class="row overide-row">
  <div class="col-xs-8">
    <label class="normal">ผู้ให้ทุนการศึกษา</label>
      <p-autoComplete name="autocompleteName"
                      [dropdown]="true"
                      forceSelection="true">
        </p-autoComplete>
  </div>
  <div class="col-xs-3">
    <label  class="normal">เลขเอกสารอ้างอิง</label>
    <input type="text" pInputText>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-2">
    <label class="normal">ปีการศึกษา</label>
    <input type="text" class="input-year" pInputText>
  </div>
  <div class="col-xs-10">
      <label  class="normal">ทุนการศึกษา</label>
      <p-autoComplete name="autocompleteName"
      [dropdown]="true"
      forceSelection="true">
</p-autoComplete>
  </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
      <label  class="normal">ประเภททุนการศึกษา</label>
      <input type="text" pInputText disabled
      class="scholarships-type"
      >
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-3">
      <label  class="normal">จำนวนทุนการศึกษา</label>
      <input type="text" pInputText
      class="scholarships-amount"
      >
    </div>
    <div class="col-xs-5">
        <label  class="normal">จำนวนเงิน/ทุนการศึกษา(บาท)</label>
        <input type="text" pInputText
        class="scholarships-aid"
        >
    </div>
</div>

<div class="row overide-row">
  <h4 class="custom-panel-title">เงื่อนไขการคัดเลือก</h4>
</div>

<div class="row overide-row">
    <div class="col-xs-3">
        <label  class="normal">เกรดเฉลี่ยขั้นต่ำ *</label>
        <input type="text" pInputText
        class="grade"
        >
    </div>
    <div class="col-xs-9">
        <label  class="normal">สำหรับชั้นปี</label>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 1"></p-checkbox>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 2"></p-checkbox>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 3"></p-checkbox>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 4"></p-checkbox>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 5"></p-checkbox>
        <p-checkbox class="collage-year-checkbox" name="group1" value="New York" label="ชั้นปีที่ 6"></p-checkbox>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label  class="normal">สำนักวิชา</label>
        <p-checkbox *ngFor="let school of rftSchools" class="schools-checkbox" label="{{school.school_name_t}}" value="{{school.school_ref}}"></p-checkbox>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label  class="normal">สาขาวิชา</label>
        <p-checkbox ></p-checkbox>
    </div>
</div>

<div class="row overide-row">
    <h4 class="custom-panel-title">แผนการดำเนินการ</h4>
</div>

<div class="row overide-row">
    <div class="col-xs-4">
        <label  class="normal">ประกาศเปิดรับสมัคร *</label>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
    <div class="col-xs-8">
        <label  class="normal">เริ่มรับสมัคร *</label>
        <p-calendar [showIcon]="true"></p-calendar>
        <label class="normal-inline">ถึงวันที่</label>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>

</div>
<div class="row overide-row">
    <div class="col-xs-4">
        <label  class="normal">ประกาศรายชื่อผู้มีสิทธิ์สัมภาษณ์</label>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
    <div class="col-xs-8">
        <label  class="normal">สัมภาษณ์</label>
        <p-calendar [showIcon]="true"></p-calendar>
        <label class="normal-inline">ถึงวันที่</label>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label  class="normal">ประกาศรายชื่อผู้ที่ได้รับทุนการศึกษา</label>
        <p-calendar [showIcon]="true"></p-calendar>
    </div>
</div>

<!-- Action buttons here -->
<div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
        <button pButton
        class="btn-back ui-button-info" label="ย้อนกลับ"></button>
    </div>
    <div class="col-xs-6 btn-panel-right">
        <button pButton
        class="btn-reset ui-button-warning" label="เริ่มใหม่"></button>
        <button pButton
        type="submit" class="btn-save ui-button-success" label="บันทึกข้อมูล"></button>
        <button pButton
        type="submit" class="btn-save ui-button-success" label="แก้ไขข้อมูล"></button>
    </div>
</div>
