<form *ngIf="pageRender" [formGroup]="manageFormGroup" (ngSubmit)="onSubmit()" >
<div class="row overide-row">
  <div class="col-xs-8">
    <label class="normal">ผู้ให้ทุนการศึกษา *</label>
      <p-autoComplete
      class="autocomplete-sponsors"
      maxlength="200"
      [dropdown]="true"
      field="sponsors_name"
      [suggestions]="sponsors"
      forceselection="true"
      [(ngModel)]="sponsor"
      formControlName="autocomplete_sponsors"
      (onSelect)="onSelectSponsors()"
      (onDropdownClick)="handleCompleteClickSponsors()"
      (completeMethod)="autocompleteSponsors($event)"
      [disabled]="updateMode"
      >
        </p-autoComplete>
  </div>
  <div class="col-xs-3">
    <label  class="normal">เลขเอกสารอ้างอิง</label>
    <input type="text"
    formControlName="document_ref_no"
    maxlength="50"
    [(ngModel)]="manageForm.scholarships_announcement.document_ref_no" pInputText>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-2">
    <label class="normal">ปีการศึกษา *</label>
    <input type="text" class="input-year" pInputText
    formControlName="year"
    pattern="\d*"
    maxlength="4"
    minlength="4"
    [(ngModel)]="manageForm.scholarships_announcement.year"
    [disabled]="updateMode"
    (blur)="getRound()">
  </div>
  <div class="col-xs-8">
      <label  class="normal">ทุนการศึกษา *</label>
      <p-autoComplete
      class="autocomplete-scholarships"
      maxlength="200"
      [dropdown]="true"
      field="scholarship_name"
      [suggestions]="scholarships"
      forceselection="true"
      [(ngModel)]="scholarship"
      (onSelect)="onSelectScholarship()"
      formControlName="autocomplete_scholarships"
      (onDropdownClick)="handleCompleteClickScholarships()"
      (completeMethod)="autocompleteScholarships($event)"
      [disabled]="updateMode">
      </p-autoComplete>
  </div>
  <div class="col-xs-2">
      <label class="normal">รอบที่</label>
      <input type="text"  class="input-round" pInputText
      formControlName="round"
      [(ngModel)]="manageForm.scholarships_announcement.round"
      disabled>
  </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
      <label  class="normal">ประเภททุนการศึกษา</label>
      <input type="text" pInputText disabled
      class="scholarships-type"
      formControlName="scholarship_type"
      [(ngModel)]="scholarship.scholarship_type"
      >
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-3">
      <label  class="normal">จำนวนทุนการศึกษา *</label>
      <input type="text" pInputText
      class="input-unit"
      pattern="\d*"
      maxlength="4"
      formControlName="unit"
      [(ngModel)]="manageForm.scholarships_announcement.unit"
      >
    </div>
    <div class="col-xs-5">
        <label  class="normal">จำนวนเงิน/ทุนการศึกษา(บาท) *</label>
        <input type="text" pInputText
        class="input-scholarships-aid"
        currencyMask
        maxlength="9"
        formControlName="financial_aid"
        [(ngModel)]="manageForm.scholarships_announcement.financial_aid"
        >
    </div>
</div>

<div class="row overide-row">
  <h4 class="custom-panel-title">เงื่อนไขการคัดเลือก</h4>
</div>

<div class="row overide-row">
    <div class="col-xs-3">
        <label  class="normal">เกรดเฉลี่ยขั้นต่ำ *</label>
        <input type="text" pInputText
        class="input-grade"
        pattern="([0-4]+(\.?[0-9]{0,2}))"
        maxlength="4"
        formControlName="min_gpax"
        [(ngModel)]="manageForm.scholarships_announcement.min_gpax"
        >
    </div>
    <div class="col-xs-9">
        <label  class="normal">สำหรับชั้นปี</label>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="1" label="ชั้นปีที่ 1"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="2" label="ชั้นปีที่ 2"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="3" label="ชั้นปีที่ 3"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="4" label="ชั้นปีที่ 4"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="5" label="ชั้นปีที่ 5"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
        <p-checkbox class="collage-year-checkbox"
        name="collage-year"
        [(ngModel)]="selectedCollageYears"
        value="6" label="ชั้นปีที่ 6"
        formControlName="collage_year" (onChange)="onSelectCollageYear()"></p-checkbox>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label  class="normal">สำนักวิชา</label>
        <p-checkbox *ngFor="let school of rftSchools"
        class="schools-checkbox col-3"
        label="{{school.school_name_t}}"
        value="{{school.school_ref}}"
        formControlName="schools"
        [(ngModel)]="selectedSchools"
        (onChange)="onSelectSchools()"></p-checkbox>
    </div>
</div>
<div class="row overide-row" *ngIf="selectedSchools.length > 0">
    <div class="col-xs-12">
        <label  class="normal">สาขาวิชา</label>
        <p-checkbox *ngFor="let major of rftMajors"
        class="majors-checkbox col-3"
        label="{{major.major_name_t}}"
        value="{{major.major_ref}}"
        formControlName="majors"
        [(ngModel)]="selectedMajors" (onChange)="onSelectMajors()"></p-checkbox>
    </div>
</div>

<div class="row overide-row">
    <h4 class="custom-panel-title">แผนการดำเนินการ</h4>
</div>

<div class="row overide-row">
    <div class="col-xs-4">
        <label  class="normal">ประกาศเปิดรับสมัคร *</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="announce_date"
        [(ngModel)]="manageForm.scholarships_announcement.announce_date"></p-calendar>
    </div>
    <div class="col-xs-8">
        <label  class="normal">เริ่มรับสมัคร *</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="registration_start_date"
        [(ngModel)]="manageForm.scholarships_announcement.registration_start_date"></p-calendar>
        <label class="normal-inline">ถึงวันที่</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="registration_end_date"
        [(ngModel)]="manageForm.scholarships_announcement.registration_end_date"></p-calendar>
    </div>

</div>
<div class="row overide-row">
    <div class="col-xs-4">
        <label  class="normal">ประกาศรายชื่อผู้มีสิทธิ์สัมภาษณ์</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="announce_interview_date"
        [(ngModel)]="manageForm.scholarships_announcement.announce_interview_date"></p-calendar>
    </div>
    <div class="col-xs-8">
        <label  class="normal">สัมภาษณ์</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="interview_start_date"
        [(ngModel)]="manageForm.scholarships_announcement.interview_start_date"></p-calendar>
        <label class="normal-inline">ถึงวันที่</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="interview_end_date"
        [(ngModel)]="manageForm.scholarships_announcement.interview_end_date"></p-calendar>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label  class="normal">ประกาศรายชื่อผู้ที่ได้รับทุนการศึกษา</label>
        <p-calendar [showIcon]="true"
        [locale]="th" [utc]="true" dateFormat="dd/mm/yy"
        formControlName="announce_result_date"
        [(ngModel)]="manageForm.scholarships_announcement.announce_result_date"></p-calendar>
    </div>
</div>

<div class="row overide-row">
  <h4 class="custom-panel-title">อัพโหลดโปสเตอร์</h4>
</div>

<div class="row overide-row">
  <div class="col-xs-12 profile-upload">
    <img *ngIf="image != null" [src]="image" class="poster-image">
  </div>
  <div class="col-xs-12 profile-upload">
      <p-fileUpload
      customUpload="true"
      auto="true"
      accept="image/*" maxFileSize="2000000"
      (uploadHandler)="onUpload($event)"
      chooseLabel="เลือกไฟล์"></p-fileUpload>
  </div>
  <div class="col-xs-12 image-name"><span >{{imageName}}</span></div>
</div>

<!-- Action buttons here -->
<div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
        <button pButton
        class="btn-back ui-button-info" label="ย้อนกลับ" (click)="onPageSearch()"></button>
    </div>
    <div class="col-xs-6 btn-panel-right">
        <button pButton
        class="btn-reset ui-button-warning" label="เริ่มใหม่" (click)="onReset()"></button>
        <button pButton *ngIf="!manageForm.scholarships_announcement.announcement_ref"
        type="submit" class="btn-save ui-button-success" label="บันทึกข้อมูล"></button>
        <button pButton *ngIf="manageForm.scholarships_announcement.announcement_ref"
        type="submit" class="btn-save ui-button-success" label="แก้ไขข้อมูล"></button>
    </div>
</div>
</form>
