<div class="row">
  <div class="col-xs-12">
      <p-steps [model]="utilsService.items" [(activeIndex)]="utilsService.activeIndex" [readonly]="false" styleClass="steps-custom" class="five-step">
      </p-steps>
  </div>
</div>
<div class="row overide-row">
  <app-view-applicant *ngIf="utilsService.activeIndex == 0"></app-view-applicant>
  <app-view-schoarship-info *ngIf="utilsService.activeIndex == 1"></app-view-schoarship-info>
  <app-view-family-financial *ngIf="utilsService.activeIndex == 2"></app-view-family-financial>
  <app-view-family-and-address *ngIf="utilsService.activeIndex == 3"></app-view-family-and-address>
  <app-view-document-upload *ngIf="utilsService.activeIndex == 4"></app-view-document-upload>
</div>
