<!-- applyApplication.applyApplicationForm.siblingList -->
<p-dataList [value]="applicationView.applyScholarshipViewForm.siblingList" class="sibling-list">
  <ng-template let-sib pTemplate="item" let-i="index">
      <div class="row overide-row">
          <div class="col-xs-4">
              <label class="normal">ชื่อ - นามสกุล *</label>
              <p>{{sib.sibling_name}}</p>
          </div>
          <div class="col-xs-4">
              <label class="normal">ปีเกิด</label>
              <p>{{sib.born_year}}</p>
          </div>
      </div>
      <div class="row overide-row">
          <div class="col-xs-4">
              <label class="normal">ระดับการศึกษา</label>
              <p>{{sib.education_name}}</p>
          </div>
          <div class="col-xs-5">
              <label class="normal">อาชีพ</label>
              <p>{{sib.occupation}}</p>
          </div>
          <div class="col-xs-3">
              <label class="normal">รายได้เฉลี่ย/เดือน</label>
              <p>{{sib.income_monthly}}</p>
          </div>
      </div>
  </ng-template>
</p-dataList>
