<div class="row overide-row">
    <h4 class="custom-panel-title">ข้อมูลเอกสารหลักฐาน</h4>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <p-dataList [value]="applyApplication.applyApplicationForm.documentList">
            <ng-template let-doc pTemplate="item">
              <div class="row overide-row">
                <div class="col-xs-5">
                  <label class="normal-inline">
                    {{doc.document_name}}
                  </label>
                </div>
                <div class="col-xs-2">
                  <p-fileUpload customUpload="true" auto="true" accept="image/*" (uploadHandler)="onUpload($event, doc.document_ref)" chooseLabel="{{doc.label}}"></p-fileUpload>
                </div>
                <div class="col-xs-4">
                  <label class="normal-inline">
                    {{doc.upload_name}}
                  </label>
                </div>
                <div class="col-xs-1">
                  <button type="button" class="ui-button-danger text-right " (click)="onDelete(doc, doc.document_ref)" icon="fa-times" pButton></button>
                </div>
              </div>
            </ng-template>
        </p-dataList>
    </div>
</div>
<div class="row formFooter overide-row">
    <div class="col-xs-12">
        <button pButton type="button" class="ui-button-success" (click)="onInsertClick()" label="{{btnLabel}}" style="float:right;"></button>
        <button pButton type="button" class="ui-button-warning" (click)="onPrevious()" label="กลับ" style="float:right;"></button>
    </div>
</div>
