<div class="row">
  <div class="col-xs-12">
    <p-steps [model]="utilsService.items" [(activeIndex)]="utilsService.activeIndex" [readonly]="false" styleClass="steps-custom" class="five-step">
    </p-steps>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-12">
    <div *ngIf="utilsService.activeIndex == 0">
      <div class="content-header-blue-normal">
          <div class="underline-blue"></div>
      </div>
      <app-m040101-manage-applicant-info></app-m040101-manage-applicant-info>
  </div>
  <div class="col-xs-12">
    <div *ngIf="utilsService.activeIndex == 1">
      <div class="content-header-blue-normal">
          <div class="underline-blue"></div>
      </div>
      <app-m040102-manage-scholarship-info></app-m040102-manage-scholarship-info>
  </div>
</div>
