<div class="row">
    <div class="col-xs-12">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true" styleClass="steps-custom" class="five-step">
        </p-steps>
    </div>
</div>
<div class="row overide-row">
    <app-m040101-manage-applicant-info *ngIf="activeIndex == 0" (changeIndex)="onChangeTabIndex($event)" [childForm]="applyApplicationForm"></app-m040101-manage-applicant-info>

    <app-m040102-manage-scholarship-info *ngIf="activeIndex == 1" (changeIndex)="onChangeTabIndex($event)" [childForm]="applyApplicationForm"></app-m040102-manage-scholarship-info>

    <app-m040103-manage-family-financial *ngIf="activeIndex == 2" (changeIndex)="onChangeTabIndex($event)" [childForm]="applyApplicationForm"></app-m040103-manage-family-financial>

    <app-m040104-manage-family-and-address *ngIf="activeIndex == 3" (changeIndex)="onChangeTabIndex($event)" [childForm]="applyApplicationForm"></app-m040104-manage-family-and-address>

    <app-m040105-manage-document-upload *ngIf="activeIndex == 4"></app-m040105-manage-document-upload>
</div>
