<div class="row overide-row">
  <div class="col-xs-4">
      <label class="normal"> รหัสนักศึกษา</label>
      <div>
          <input type="text" name="officer_code"
          [(ngModel)]="searchCriteria.student_id"
          maxlength="10"
          pInputText>
      </div>
  </div>
  <div class="col-xs-3">
      <label class="normal"> ชื่อ</label>
      <div>
          <input type="text" name="first_name"
          maxlength="50"
          [(ngModel)]="searchCriteria.first_name_t" pInputText>
      </div>
  </div>
  <div class="col-xs-4">
      <label class="normal"> นามสกุล</label>
      <div>
          <input type="text" name="last_name"
            maxlength="50"
           [(ngModel)]="searchCriteria.last_name_t" pInputText>
      </div>
  </div>
</div>
<div class="row overide-row btn-row">
  <div class="col-xs-6 btn-panel-left">
      <button pButton type="button" class="btn-search primary"
      label="ค้นหา" (click)="onSearch()"></button>
  </div>
  <div class="col-xs-6 btn-panel-right">
      <button pButton type="button" class="btn-reset ui-button-warning" label="เริ่มใหม่" (click)="onReset()">
      </button>
  </div>
</div>
<div class="row overide-row">
  <p-dataTable [value]="studentList"  [rows]="10" [paginator]="true" emptyMessage="ไม่พบข้อมูล">
      <p-column field="student_id" header="ลำดับ" [style]="{'width':'50px'}">
        <ng-template let-index="rowIndex" pTemplate="body">
          <span>{{index+1}}</span>
      </ng-template>
      </p-column>
      <p-column field="" header="ชื่อนักศึกษา" [style]="{'width':'150px'}">
        <ng-template let-data="rowData" pTemplate="body">
          <span style="display:block;font-weight:500">{{data.first_name_t+' '+data.last_name_t}}</span>
          <small>{{data.student_id}}</small>
      </ng-template>
      </p-column>
      <p-column field="school_name_t" header="สำนักวิชา" ></p-column>
      <p-column field="major_name_t" header="สาขาวิชา"></p-column>
      <p-column field="phone_no" header="เบอโทรศัพท์" [style]="{'width':'100px'}"></p-column>
      <p-column field="" header="รีเซต" [style]="{'width':'100px','text-align':'center'}">
        <ng-template let-index="rowIndex" pTemplate="body">
          <button pButton type="button" class="btn-reset ui-button-warning" label="Reset" (click)="onReset()"></button>
      </ng-template>
      </p-column>
  </p-dataTable>
</div>
