
<div class="row overide-row">
<div class="col-xs-9">
 <div class="row overide-row">
    <div class="col-xs-9">
        <label class="normal">ชื่อผู้สนับสนุน *</label>
          <input  name="sponsors_name"
          type="text" id="sponsorsName" pInputText>
      </div>

      <div class="col-xs-3">
        <label class="normal">สถานะ *</label>
          <p-dropdown>
          </p-dropdown>
      </div>
</div>

<div class="row overide-row">
      <div class="col-xs-12">
        <label class="normal">ที่อยู่ *</label>
        <div>
          <input address="inputTextAddress"
                 type="text"
                 id="address"
                 pInputText>
        </div>
      </div>
</div>
<div class="row overide-row">
      <div class="col-xs-6 normal">
        <label class="normal">จังหวัด *</label>
        <div>
          <p-autoComplete></p-autoComplete>
        </div>
      </div>

      <div class="col-xs-6 normal">
        <label class="normal">อำเภอ *</label>
        <div>
          <p-autoComplete></p-autoComplete>

        </div>
      </div>
</div>
<div class="row overide-row">
      <div class="col-xs-6 normal">
        <label class="normal">ตำบล *</label>
        <div>
          <p-autoComplete></p-autoComplete>
        </div>
      </div>
      <div class="col-xs-6 normal">
        <label class="normal">รหัสไปรษณีย์</label>
        <div>
          <input name="postcode" id="postcode"
          type="text"
          pInputText>
        </div>
      </div>
</div>
<div class="row overide-row">
      <div class="col-xs-6 normal">
        <label class="normal">เบอร์โทรศัพท์ *</label>
        <div>
          <input type="text"
                 pInputText>
        </div>
      </div>

      <div class="col-xs-6 normal">
        <label class="normal">อีเมลล์</label>
        <div>
          <input type="text" pInputText>
        </div>
      </div>
</div>
<div class="row overide-row">
      <div class="col-xs-12 normal">
        <label class="normal">เว็บไซต์ที่ติดต่อได้</label>
        <div>
          <input name="website"
                 type="text"
                 id="website"
                 pInputText>
        </div>
      </div>
</div>
</div>
<div class="col-xs-3">
<div class="row overide-row">
      <div class="col-xs-12">
        <img [src]="image"
        class="image-profile">
      </div>
      <div class="col-xs-12">
        <p-fileUpload mode="basic" accept="image/*" maxFileSize="1000000" chooseLabel="เลือกไฟล์"></p-fileUpload>
      </div>
</div>
</div>
</div>

<div class="row overide-row btn-row">
      <div class="col-xs-12">
        <button pButton
                type="submit"
                class="btn-save ui-button-success"
                label="บันทึกข้อมูล"></button>
        <button pButton
                type="reset"
                class="btn-reset ui-button-warning"
                label="เริ่มใหม่"></button>
        <button pButton
                type="button"
                class="btn-back ui-button-info"
                label="ย้อนกลับ"
                ></button>
      </div>
</div>
