<form [formGroup]="newsFormGroup" (ngSubmit)="onSubmit()">
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">หัวข้อข่าว</label>
            <input class="input-address"
              type="text"
              [(ngModel)]="manageNewsForm.smNews.news_topic"
              name="news_topic"
              formControlName="news_topic"
              pInputText>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">รายละเอียด</label>
            <p-editor [style]="{'height':'320px'}"
              [(ngModel)]="manageNewsForm.smNews.news_detail"
              name="news_detail"
              formControlName="news_detail">
            </p-editor>
        </div>
    </div>
    <div class="row overide-row">
        <label class="normal">รูปประกอบ</label>
        <div class="col-xs-12 profile-upload">
            <img class="image-profile"
              [src]="manageNewsForm.smNews.news_image">
        </div>
        <div class="col-xs-12 profile-upload">
            <p-fileUpload
              customUpload="true"
              auto="true"
              (uploadHandler)="onUpload($event)"
              chooseLabel="เลือกไฟล์">
            </p-fileUpload>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-4">
            <label class="normal">วันที่เผยแพร่</label>
            <p-calendar
              [monthNavigator]="true"
              [locale]="th"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [utc]="true"
              [minDate]="currentDate"
              [(ngModel)]="manageNewsForm.smNews.publish_date"
              name="publish_date"
              formControlName="publish_date">
            </p-calendar>
        </div>
        <div class="col-xs-4">
            <label class="normal">สถานะ</label>
            <p-dropdown
              [options]="activeFlag"
              [disabled]="!manageNewsForm.smNews.news_ref"
              [(ngModel)]="manageNewsForm.smNews.active_flag"
              name="active_flag"
              formControlName="active_flag">
            </p-dropdown>
        </div>
    </div>
    <div class="row overide-row btn-row">
        <div class="col-xs-6 btn-panel-left">
            <button class="btn-back ui-button-info"
              type="button"
              label="ย้อนกลับ"
              (click)="onSearchPage()"
              pButton>
            </button>
        </div>
        <div class="col-xs-6 btn-panel-right">
            <button class="bbtn-reset ui-button-warning"
              type="button"
              label="เริ่มใหม่"
              (click)="onResetClick()"
              pButton>
            </button>
            <button class="btn-save ui-button-success"
              type="submit"
              label="{{btnLabel}}"
              pButton>
            </button>
        </div>
    </div>
</form>
