<form *ngIf="pageRender" [formGroup]="scholarshipFormGroup" (ngSubmit)="onSubmit()">
    <div class="row overide-row">
        <div class="col-xs-9">
            <label class="normal">ผู้ให้ทุนการศึกษา</label>
            <p-autoComplete
              class="autocomplete-sub-district"
              [(ngModel)]="manageScholarship.smSponsors"
              [suggestions]="sponsorsList"
              [dropdown]="true"
              (completeMethod)="autocompleteSponsors($event)"
              (onDropdownClick)="handleCompleteClickSponsosrs()"
              field="sponsors_name"
              forceSelection="true"
              name="autocompleteSponsors"
              formControlName="sponsor_name">
            </p-autoComplete>
        </div>
        <div class="col-xs-3">
            <label class="normal">สถานะ</label>
            <p-dropdown
              [(ngModel)]="manageScholarship.smScholarship.active_flag"
              name="active_flag"
              [options]="activeFlag"
              [disabled]="!manageScholarship.smScholarship.scholarship_ref"
              formControlName="active_flag">
            </p-dropdown>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-9">
            <label class="normal">ชื่อทุนการศึกษา</label>
            <input class="input-address"
              type="text"
              [(ngModel)]="manageScholarship.smScholarship.scholarship_name"
              formControlName="scholarship_name"
              pInputText>
        </div>
        <div class="col-xs-3">
            <label class="normal">ประเภททุนการศึกษา</label>
            <p-dropdown
              [(ngModel)]="scholarship_type"
              name="sctype_type"
              optionLabel="sctype_name"
              [options]="sctype_type"
              formControlName="scholarship_type">
            </p-dropdown>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">รายละเอียด</label>
            <textarea class="fullWidth"
              cols="30"
              rows="10"
              [(ngModel)]="manageScholarship.smScholarship.detail"
              formControlName="detail"
              pInputTextarea>
            </textarea>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-3">
            <label class="normal">จำนวน</label>
            <input
              type="text"
              pattern="\d*"
              maxlength="4"
              [(ngModel)]="manageScholarship.smScholarship.unit"
              formControlName="unit"
              style="width:50px;text-align:center"
              pInputText>
        </div>
        <div class="col-xs-6">
            <label class="normal">จำนวนเงิน</label>
            <input type="text"
              [options]="{ prefix: '', thousands: ',', decimal: '.' }"
              min="0"
              max="999999.99"
              maxlength="10"
              currencyMask
              placeholder="จำนวนเงิน(บาท)"
              [(ngModel)]="manageScholarship.smScholarship.financial_aid"
              formControlName="financial_aid"
              pInputText>
        </div>
    </div>

    <div class="row overide-row btn-row">
        <div class="col-xs-6 btn-panel-left">
            <button class="btn-back ui-button-info" type="button" label="ย้อนกลับ" (click)="onSearchPage()" pButton>
      </button>
        </div>
        <div class="col-xs-6 btn-panel-right">
            <button class="bbtn-reset ui-button-warning" type="button" label="เริ่มใหม่" pButton>
      </button>
            <button class="btn-save ui-button-success" type="submit" label="{{btnLabel}}" pButton>
      </button>
        </div>
    </div>
  </form>
