<div class="row overide-row">
    <div class="col-xs-12">
        <label class="normal">ที่อยู่</label>
        <label>{{acAddress.home_address}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">จังหวัด</label>
        <label>{{acAddress.home_province}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">อำเภอ</label>
        <label>{{acAddress.home_district}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">ตำบล</label>
        <label>{{acAddress.home_sub_district}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">รหัสไปรษณีย์</label>
        <label>{{acAddress.home_postcode}}</label>
    </div>
</div>
<div class="row overide-row">
  <h4 class="custom-panel-title">แผนที่</h4>
</div>
<div class="row overide-row direction-upload">
        <img src="{{acAddress.direction_image}}">
</div>
<div class="row overide-row">
    <h4 class="custom-panel-title">ที่อยู่ปัจจุบัน</h4>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label class="normal">ที่อยู่</label>
        <label>{{acAddress.current_address}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">จังหวัด</label>
        <label>{{acAddress.current_province}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">อำเภอ</label>
        <label>{{acAddress.current_district}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">ตำบล</label>
        <label>{{acAddress.current_sub_district}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">รหัสไปรษณีย์</label>
        <label>{{acAddress.current_postcode}}</label>
    </div>
</div>
