<div class="row overide-row">
    <div class="col-xs-12">
        <label for="" class="normal">ที่อยู่</label> {{applyApplication.applyApplicationForm.acAddress.home_address}}
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label for="" class="normal">จังหวัด</label> {{applyApplication.applyApplicationForm.acAddress.home_province}}
    </div>
    <div class="col-xs-6">
        <label for="" class="normal">อำเภอ</label> {{applyApplication.applyApplicationForm.acAddress.home_district}}
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label for="" class="normal">ตำบล</label> {{applyApplication.applyApplicationForm.acAddress.home_sub_district}}
    </div>
    <div class="col-xs-6">
        <label for="" class="normal">รหัสไปรษณีย์</label> {{applyApplication.applyApplicationForm.acAddress.home_postcode}}
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label class="normal">แผนที่</label> <img src="{{applyApplication.applyApplicationForm.acAddress.direction_image}}">
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <div class="content-header-blue-normal">ที่อยู่ปัจจุบัน</div>
        <div class="underline-blue"></div>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label for="" class="normal">ที่อยู่</label> {{applyApplication.applyApplicationForm.acAddress.current_address}}
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label for="" class="normal">จังหวัด</label> {{applyApplication.applyApplicationForm.acAddress.current_province}}
    </div>
    <div class="col-xs-6">
        <label for="" class="normal">อำเภอ</label> {{applyApplication.applyApplicationForm.acAddress.current_district}}
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label for="" class="normal">ตำบล</label> {{applyApplication.applyApplicationForm.acAddress.current_sub_district}}
    </div>
    <div class="col-xs-6">
        <label for="" class="normal">รหัสไปรษณีย์</label> {{applyApplication.applyApplicationForm.acAddress.current_postcode}}
    </div>
</div>
