<div class="row overide-row">
    <div class="col-xs-12">
        <label class="normal">ที่อยู่</label>
        <label>{{applyApplication.applyApplicationForm.acAddress.home_address}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">จังหวัด</label>
        <label>{{applyApplication.applyApplicationForm.homeProvince.province_name_t}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">อำเภอ</label>
        <label>{{applyApplication.applyApplicationForm.homeDistrict.district_name_t}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">ตำบล</label>
        <label>{{applyApplication.applyApplicationForm.homeSubDistrict.sub_district_name_t}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">รหัสไปรษณีย์</label>
        <label>{{applyApplication.applyApplicationForm.homeSubDistrict.postcode}}</label>
    </div>
</div>
<div class="row overide-row">
  <h4 class="custom-panel-title">แผนที่</h4>
</div>
<div class="row overide-row direction-upload">
        <img src="{{applyApplication.applyApplicationForm.acAddress.direction_image}}">
</div>
<div class="row overide-row">
    <h4 class="custom-panel-title">ที่อยู่ปัจจุบัน</h4>
</div>
<div class="row overide-row">
    <div class="col-xs-12">
        <label class="normal">ที่อยู่</label>
        <label>{{applyApplication.applyApplicationForm.acAddress.current_address}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">จังหวัด</label>
        <label>{{applyApplication.applyApplicationForm.currentProvince.province_name_t}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">อำเภอ</label>
        <label>{{applyApplication.applyApplicationForm.currentDistrict.district_name_t}}</label>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">ตำบล</label>
        <label>{{applyApplication.applyApplicationForm.currentSubDistrict.sub_district_name_t}}</label>
    </div>
    <div class="col-xs-6">
        <label class="normal">รหัสไปรษณีย์</label>
        <label>{{applyApplication.applyApplicationForm.currentSubDistrict.postcode}}</label>
    </div>
</div>
