<div class="row">
    <div class="col-xs-8">
        <label class="normal"> รหัสเจ้าหน้าที่</label>
        <div>
            <input type="text" name="officer_code" [(ngModel)]="searchForm.acOfficer.officer_code" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> สถานะ</label>
        <div>
            <p-dropdown [(ngModel)]="searchForm.acOfficer.active_flag" [options]="utilService.getActiveFlag('S')">
            </p-dropdown>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label class="normal"> ชื่อ</label>
        <div>
            <input type="text" name="first_name" [(ngModel)]="searchForm.acOfficer.first_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> นามสกุล</label>
        <div>
            <input type="text" name="last_name" [(ngModel)]="searchForm.acOfficer.last_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> เลขประชาชน/พาสปอร์ต</label>
        <div>
            <input type="text" name="officer_id" [(ngModel)]="searchForm.acOfficer.personal_id" pInputText>
        </div>
    </div>
</div>
<div class=""></div>
<div class="row">
    <div class="col-xs-12">
        <button pButton type="submit" class="btn-positive" label="ค้นหา" (click)="onSearchClick()">
</button>
        <button pButton type="button" class="btn-normal" label="รีเซ็ท" (click)="onResetClick()">
</button>
        <button pButton type="button" style="float: right;" class="btn-negative" label="สร้างใหม่" (click)="onInsertClick()">
</button>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <p-dataTable [value]="listOfficerForm" [loading]="true">
        <p-column [sortable]="true" field="acOfficer.officer_code" header="รหัสเจ้าหน้าที่">
        </p-column>
        <p-column [sortable]="true" field="fullname" header="ชื่อเจ้าหน้าที่">
        </p-column>
        <p-column [sortable]="true" field="acOfficer.personal_id" header="เลขประชาชน/พาสปอร์ต">
        </p-column>
        <p-column [sortable]="true" field="acOfficer.phone_no" header="เบอร์โทรศัพท์">
        </p-column>
        <p-column [sortable]="true" field="acOfficer.email" header="อีเมล">
        </p-column>
        <p-column [sortable]="true" field="status" header="สถานะ">
        </p-column>
    </p-dataTable>
</div>