<div class="row">
    <div class="col-xs-8">
        <label class="normal"> รหัสเจ้าหน้าที่</label>
        <div>
            <input type="text" name="officer_code" [(ngModel)]="searchForm.searchCriteria.officer_code" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> สถานะ</label>
        <div>
            <p-dropdown [(ngModel)]="searchForm.searchCriteria.active_flag" [options]="utilService.getActiveFlag('S')">
            </p-dropdown>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label class="normal"> ชื่อ</label>
        <div>
            <input type="text" name="first_name" [(ngModel)]="searchForm.searchCriteria.first_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> นามสกุล</label>
        <div>
            <input type="text" name="last_name" [(ngModel)]="searchForm.searchCriteria.last_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> เลขประชาชน/พาสปอร์ต</label>
        <div>
            <input type="text" name="officer_id" [(ngModel)]="searchForm.searchCriteria.personal_id" pInputText>
        </div>
    </div>
</div>
<div class=""></div>
<div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
        <button pButton type="submit" class="btn-search primary" label="ค้นหา" (click)="onSearchClick()">
</button>
    </div>
    <div class="col-xs-6 btn-panel-right">
        <button pButton type="button" class="btn-reset ui-button-warning" label="เริ่มใหม่" (click)="onResetClick()">
</button>
        <button pButton type="button" class="btn-new ui-button-info" label="เพิ่มข้อมูล" (click)="onInsertPageClick()">
</button>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <p-dataTable [value]="listOfficer" selectionMode="single">
        <p-column [sortable]="true" field="officer_code" header="รหัสเจ้าหน้าที่">
        </p-column>
        <p-column [sortable]="true" field="first_name" header="ชื่อเจ้าหน้าที่">
        </p-column>
        <p-column [sortable]="true" field="active_flag" header="สถานะ" styleClass="active-flag">
        </p-column>
    </p-dataTable>
</div>