<div class="row overide-row">
    <div class="col-xs-8">
        <label class="normal"> รหัสเจ้าหน้าที่</label>
        <div>
            <input type="text" name="officer_code" [(ngModel)]="searchForm.searchCriteria.officer_code" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> สถานะ</label>
        <div>
            <p-dropdown [options]="activeFlag" [(ngModel)]="searchForm.searchCriteria.active_flag">
            </p-dropdown>
        </div>
    </div>
</div>
<div class="row overide-row">
    <div class="col-xs-4">
        <label class="normal"> ชื่อ</label>
        <div>
            <input type="text" name="first_name" [(ngModel)]="searchForm.searchCriteria.first_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> นามสกุล</label>
        <div>
            <input type="text" name="last_name" [(ngModel)]="searchForm.searchCriteria.last_name" pInputText>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> เลขประชาชน/พาสปอร์ต</label>
        <div>
            <input type="text" name="officer_id" [(ngModel)]="searchForm.searchCriteria.personal_id" pInputText>
        </div>
    </div>
</div>
<div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
        <button pButton type="submit" class="btn-search primary" label="ค้นหา" (click)="onSearchClick()">
</button>
    </div>
    <div class="col-xs-6 btn-panel-right">
        <button pButton type="button" class="btn-reset ui-button-warning" label="เริ่มใหม่" (click)="onResetClick()">
</button>
        <button pButton type="button" class="btn-new ui-button-info" label="เพิ่มข้อมูล" (click)="onInsertPageClick()">
</button>
    </div>
</div>
<div class="row overide-row">
    <p-dataTable [value]="listOfficer" selectionMode="single" (onRowSelect)="onRowSelect($event)" [rows]="10" [paginator]="true" [pageLinks]="3">
      <p-column field="" header="ลำดับ" [style]="{'width':'50px'}">
          <ng-template let-index="rowIndex" pTemplate="body">
              <span>{{index+1}}</span>
          </ng-template>
      </p-column>
      <p-column field="officer_code" header="รหัสเจ้าหน้าที่" [style]="{'width':'100px'}">
        </p-column>
        <p-column field="first_name" header="ชื่อเจ้าหน้าที่">
        </p-column>
        <p-column field="phone_no" header="เบอร์โทรศัพท์" [style]="{'width':'150px'}"></p-column>
        <p-column field="email" header="อีเมล" [style]="{'width':'200px'}"></p-column>
        <p-column field="active_flag" header="สถานะ" [style]="{'width':'70px'}">
        </p-column>
    </p-dataTable>
</div>
