
  <div class="row overide-row">
      <div class="col-xs-2">
        <label class="normal">ปีการศึกษา</label>
      </div>
      <div class="col-xs-9">
          <label class="normal">ทุนการศึกษา</label>
      </div>
      <div class="col-xs-1">
          <label class="normal">รอบที่</label>
      </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-3">
          <label class="normal">ชื่อ-นามสกุล</label>
        </div>
        <div class="col-xs-4">
            <label class="normal">สำนักวิชา</label>
        </div>
        <div class="col-xs-4">
            <label class="normal">สาขาวิชา</label>
        </div>
        <div class="col-xs-1">
            <label class="normal">ชั้นปี</label>
        </div>
      </div>

