<form *ngIf="applyApplication.pageRender" [formGroup]="applicantFormGroup" (ngSubmit)="onNext()">
    <div class="row overide-row">
        <h4 class="custom-panel-title">ข้อมูลส่วนตัว</h4>
        <div class="col-xs-9">
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">เลขประจำตัวประชาชน</label>
                    <div class="info">
                        <label>
                          {{applyApplication.applyApplicationForm.acStudent.personal_id}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal">รหัสนักศึกษา</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.acStudent.student_id}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">ชื่อ-สกุล</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.student_name}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="normal">เพศ</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.gender}}
                        </label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">วันเกิด</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.birth_day}}
                        </label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">อายุ</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.age}} ปี
                        </label>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">สัญชาติ</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.acStudent.nationality}}
                        </label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">เชื้อชาติ</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.acStudent.race}}
                        </label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <label class="normal">ศาสนา</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.acStudent.religion}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">สำนักวิชา</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.school_name_t}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal">สาขาวิชา</label>
                    <div>
                        <label>
                          {{applyApplication.applyApplicationForm.major_name_t}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row overide-row ">
                <div class="col-xs-4 ">
                    <label class="normal ">เบอร์โทรศัพท์</label>
                    <div>
                        <input class="normal"
                          name="phone_no"
                          type="tel"
                          [(ngModel)]="applyApplication.applyApplicationForm.acStudent.phone_no"
                          maxlength="10"
                          minlength="10"
                          formControlName="phone_no"
                          pInputText>
                    </div>
                </div>
                <div class="col-xs-8">
                    <label class="normal">Email</label>
                    <div>
                        <input class="fullWidth"
                          name="email"
                          type="email"
                          [(ngModel)]="applyApplication.applyApplicationForm.acStudent.email"
                          maxlength="50"
                          formControlName="email"
                          pInputText>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-4">
                    <label class="normal">ชั้นปีการศึกษา</label>
                    <div>
                        <p-dropdown
                          [options]="collageYears"
                          [(ngModel)]="applyApplication.applyApplicationForm.apApplication.collage_year"
                          formControlName="collage_year"
                          name="collage_year">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-xs-2">
                    <label class="normal">GPAX</label>
                    <div>
                        <input class="normal gpax"
                          currencyMask
                          type="text"
                          [(ngModel)]="applyApplication.applyApplicationForm.apApplication.gpax"
                          maxlength="4"
                          formControlName="gpax"
                          name="gpax"
                          pInputText>
                    </div>
                </div>
                <div class="col-xs-6 ">
                    <label class="normal ">อาจารย์ที่ปรึกษา</label>
                    <div>
                        <input class="fullWidth"
                        type="text"
                        name="advisor_name "
                        [(ngModel)]="applyApplication.applyApplicationForm.apApplication.advisor_name"
                        maxlength="50"
                        formControlName="advisor_name"
                        pInputText>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 center">
            <img class="image-profile"
              src="{{applyApplication.applyApplicationForm.acStudent.profile_image}}" >
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">การดำรงชีวิต</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12 txt-area-center">
            <label class="normal ">กรุณาเขียนบรรยายความเป็นอยู่ของนักศึกษา</label>
            <textarea  class="fullWidth"
              name="livelihood"
              [(ngModel)]="applyApplication.applyApplicationForm.apApplication.livelihood"
              formControlName="livelihood"
              pInputTextarea>
            </textarea>
        </div>
    </div>
    <div class="col-xs-12 btn-panel-right">
        <button class="btn-next primary"
          type="submit"
          label="ถัดไป"
          pButton>
        </button>
    </div>
</form>
