
  <div class="row overide-row">
      <div class="col-xs-3">
          <label class="normal">รายรับ</label>
          <p>{{childForm.apFamilyFinancial.income_monthly}}</p>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-3">
          <label class="normal">รายจ่าย</label>
          <p>{{childForm.apFamilyFinancial.expense_monthly}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <h4 class="custom-panel-title">ภาระหนี้สินครอบครัว</h4>
      <div class="col-xs-12">
          <p-dataTable [value]="childForm.apFamilyDebt" [immutable]=false>
              <p-column header="ลำดับ" field="" [style]="{'width':'50px'}">
                  <ng-template let-col let-obj="rowIndex" pTemplate="body">
                      {{obj+1}}
                  </ng-template>
              </p-column>
              <p-column header="รายละเอียด" field="debt_detail"></p-column>
              <p-column field="debt_amount" header="จำนวน(บาท)" [style]="{'width':'150px','textAlign':'right'}"></p-column>
          </p-dataTable>
      </div>
  </div>

