

.menubar {
  background-color: #aa0000;
}

.menubar ul {
  width: 1200px !important;
  padding-left: 18px;
  padding-right: 27px;
  font-size: 16px;
  margin: auto;
  list-style-type: none;
  overflow: hidden;
  background-color: #aa0000;
}

.menubar ul li {
  float: left;
}

.menubar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}

.menubar ul li a:hover:not(.active) {
  color: #e9ac00;
  background: transparent;
}

.menubar ul li>a.active {
  color: #e9ac00;
}

.menuside {
  padding: 10px 20px 5px 35px;
}

.sidebar-header {
  margin-bottom: 5px;
}

div.underline {
  height: 1px;
  width: 100%;

}


.ui-menuitem-text{
  font-family: 'Kanit', sans-serif !important;
  font-size: 16px !important;
  padding-left:10px;
}
