/*Start Alter library components */
.ui-datatable-emptymessage {
  text-align: center;
}

.ui-datepicker-trigger {
  border-radius: 0 15% 15% 0% !important;
}

.overide-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ui-button-text-only .ui-button-text {
  font-weight: 400;
}

.ui-datatable td span {
  padding-left: 5px;
  word-wrap: break-word;
}

.ui-calendar.ui-calendar-w-btn input{
  width:120px
}

/*step number */
.ui-steps .ui-steps-number {
  padding-top: 5px;
}

.ui-autocomplete .ui-autocomplete-dropdown{
  height: 28.59px !important;
}

/*End Alter library components */


/*input's style*/
.input-round, .grade {
  width: 50px;
  text-align:center;
}
.input-year, .unit {
  width: 100px;
}
.input-name {
  width: 250px;
}
.input-company-name{
  width: 400px;
}
.input-address {
  width: 90%;
}
.input-postcode {
  width: 70px;
}
.input-phone, .scholarships-aid {
  width: 150px;
}
.input-occupation,
.input-position,{
  width: 300px;
}
.input-mail,
.input-website {
  width: 250px;
}
.autocomplete-province .ui-autocomplete input{
  width: 200px;
}

.autocomplete-district .ui-autocomplete input{
  width: 200px;
}
.autocomplete-sub-district .ui-autocomplete input{
  width: 200px;
}

.autocomplete-scholarships .ui-autocomplete input{
  width: 500px;
}
.autocomplete-sponsors .ui-autocomplete input{
  width: 400px;
}
