<header></header>
<navbar></navbar>
<p-growl [(value)]="msgs"></p-growl>
<ng-progress [positionUsing]="'marginLeft'"
             [minimum]="0.15"
             [maximum]="1"
             [speed]="50"
             [showSpinner]="true"
             [direction]="'lefttToRightIncreased'"
             [color]="'red'"
             [trickleSpeed]="100"
             [thick]="true"
             [ease]="'linear'"></ng-progress>
<div class="container">
    <div class="col-xs-3"
         *ngIf="status">
        <sidebar></sidebar>
    </div>
    <div [ngClass]="status ? 'col-xs-9' : 'col-xs-12'">
        <div class="content">
            <div class="page-title">
                <page-header></page-header>
            </div>
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
