<header></header>
<navbar></navbar>
<ng-progress [positionUsing]="'marginLeft'"
             [minimum]="0.15"
             [maximum]="1"
             [speed]="50"
             [showSpinner]="true"
             [direction]="'lefttToRightIncreased'"
             [color]="'red'"
             [trickleSpeed]="100"
             [thick]="true"
             [ease]="'linear'"></ng-progress>
<div class="container-fixed">
    <div class="col-xs-3">
        <sidebar></sidebar>
    </div>
    <div class="col-xs-9">
      <div class="content">
      <div class="page-title">
          <page-header></page-header>
        </div>
        <div class="page-content">
          <router-outlet></router-outlet>
        </div>
  </div>
</div>
</div>
