<form [formGroup]="manageFormGroup" (ngSubmit)="onSubmit()" >
<div class="row overide-row">
    <div class="col-xs-9">
        <div class="row overide-row">
            <div class="col-xs-9">
                <label class="normal">ชื่อผู้สนับสนุน *</label>
                <input pInputText
                type="text"
                class="input-company-name"
                formControlName="sponsors_name"
                [(ngModel)]="manageForm.sponsors.sponsors_name"
                >
            </div>

            <div class="col-xs-3">
                <label class="normal">สถานะ *</label>
                <p-dropdown
                [options]="activeStatus"
                formControlName="active_flag"
                [(ngModel)]="manageForm.sponsors.active_flag">
                </p-dropdown>
            </div>
        </div>

        <div class="row overide-row">
            <div class="col-xs-12">
                <label class="normal">ที่อยู่ *</label>
                <input pInputText
                type="text"
                class="input-address"
                formControlName="address"
                [(ngModel)]="manageForm.sponsors.address"
                >
            </div>
        </div>
        <div class="row overide-row">
            <div class="col-xs-6 normal">
                <label class="normal">จังหวัด *</label>
                <p-autoComplete class="autocomplete-province"
                [dropdown]="true"
                [(ngModel)]="province"
                field="province_name_t"
                [suggestions]="provinceList"
                forceselection="true"
                formControlName="province"
                (onSelect)="seletedProvince()"
                (onDropdownClick)="handleCompleteClickProvince()"
                (completeMethod)="autocompleteProvince($event)">
                </p-autoComplete>
            </div>

            <div class="col-xs-6 normal">
                <label class="normal">อำเภอ *</label>
                <p-autoComplete class="autocomplete-district"
                [disabled]="!province.province_ref"
                [dropdown]="true"
                [(ngModel)]="district"
                field="district_name_t"
                [suggestions]="districtList"
                forceselection="true"
                formControlName="district"
                (onSelect)="seletedDistrict()"
                (onDropdownClick)="handleCompleteClickDistrict()"
                (completeMethod)="autocompleteDistrict($event)">
              </p-autoComplete>
            </div>
        </div>
        <div class="row overide-row">
            <div class="col-xs-6 normal">
                <label class="normal">ตำบล *</label>
                <p-autoComplete class="autocomplete-sub-district"
                [disabled]="!district.district_ref"
                [dropdown]="true"
                [(ngModel)]="subDistrict"
                field="sub_district_name_t"
                [suggestions]="subDistrictList"
                forceselection="true"
                formControlName="subDistrict"
                (onSelect)="seletedSubDistrict()"
                (onDropdownClick)="handleCompleteClickSubDistrict()"
                (completeMethod)="autocompleteSubDistrict($event)">
              </p-autoComplete>
            </div>
            <div class="col-xs-6 normal">
                <label class="normal">รหัสไปรษณีย์</label>
                <input pInputText
                type="text"
                formControlName="postcode"
                [(ngModel)]="manageForm.sponsors.postcode"
                disabled>
            </div>
        </div>
        <div class="row overide-row">
            <div class="col-xs-6 normal">
                <label class="normal">เบอร์โทรศัพท์ *</label>
                <input  pInputText
                type="text"
                formControlName="phone_no"
                [(ngModel)]="manageForm.sponsors.phone_no">
            </div>

            <div class="col-xs-6 normal">
                <label class="normal">อีเมลล์</label>
                <input pInputText
                type="text"
                formControlName="email"
                [(ngModel)]="manageForm.sponsors.email">
            </div>
        </div>
        <div class="row overide-row">
            <div class="col-xs-12 normal">
                <label class="normal">เว็บไซต์ที่ติดต่อได้</label>
                <div>
                    <input pInputText
                    type="text"
                    formControlName="website"
                    [(ngModel)]="manageForm.sponsors.website">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="row overide-row">
            <div class="col-xs-12 profile-upload">
                <img [src]="image" class="image-profile">
            </div>
            <div class="col-xs-12 profile-upload">
                <p-fileUpload
                customUpload="true"
                auto="true"
                (uploadHandler)="onUpload($event)"
                chooseLabel="เลือกไฟล์"></p-fileUpload>
            </div>
            <div class="col-xs-12">{{imageName}}</div>
        </div>
    </div>
</div>


<!-- Action buttons here -->
<div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
        <button pButton class="btn-back ui-button-info" label="ย้อนกลับ"></button>
    </div>
    <div class="col-xs-6 btn-panel-right">
        <button pButton type="reset" class="btn-reset ui-button-warning" label="เริ่มใหม่"></button>
        <button pButton type="submit" class="btn-save ui-button-success" label="บันทึกข้อมูล"></button>
    </div>
</div>
</form>
