<form [formGroup]="officerFormGroup" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal"> รหัสเจ้าหน้าที่ *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.officer_code" formControlName="officer_code" name="officer_code" type="text" size="15" pInputText>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal"> สถานะ</label>
                    <div>
                        <p-dropdown [(ngModel)]="manageOfficerForm.acOfficer.active_flag" formControlName="active_flag" name="active_flag" [options]="utilService.getActiveFlag('M')">
                        </p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="normal">เพศ</label>
                    <div class="col-xs-12">
                        <p-radioButton [(ngModel)]="manageOfficerForm.acOfficer.gender" formControlName="gender" name="gender" value="M" label="ชาย" inputId="opt1">
                        </p-radioButton>
                        <p-radioButton [(ngModel)]="manageOfficerForm.acOfficer.gender" formControlName="gender" name="gender" value="F" label="หญิง" inputId="opt2">
                        </p-radioButton>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal">คำนำหน้า *</label>
                    <div>
                        <p-dropdown [(ngModel)]="manageOfficerForm.acOfficer.title_ref" formControlName="title_ref" name="title_ref" [options]="utilService.getTitleList('M')">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal"> เลขประชาชน/พาสปอร์ต *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.personal_id" formControlName="personal_id" name="personal_id" type="text" maxlength="13" pInputText>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal"> ชื่อ *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.first_name" formControlName="first_name" name="first_name" type="text" pInputText>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal"> นามสกุล *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.last_name" formControlName="last_name" name="last_name" type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label class="normal"> ที่อยู่ *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.address" formControlName="address" name="address" type="text" pInputText>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal">จังหวัด</label>
                    <div>
                        <p-autoComplete field="province_name_t" [(ngModel)]="manageOfficerForm.rftProvince" formControlName="province_name_t" [suggestions]="provinceList" (onSelect)="selectProvince()" forceselection="true" [dropdown]="true" (onDropdownClick)="handleCompleteClickProvince($event)"
                            (completeMethod)="autocompleteProvince($event)">
                            <ng-template let-obj pTemplate="obj">
                                {{obj.province_name_t}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal">อำเภอ</label>
                    <div>
                        <p-autoComplete [(ngModel)]="manageOfficerForm.rftDistrict" formControlName="district_name_t" [suggestions]="districtList" [dropdown]="true" [disabled]="manageOfficerForm.rftProvince.province_ref == null" (completeMethod)="autocompleteDistrict($event)"
                            (onDropdownClick)="handleCompleteClickDistrict($event)" field="district_name_t" (onSelect)="selectDistrict()" forceSelection="true" name="autocompleteDistrict">
                            <ng-template let-obj pTemplate="item">
                                {{obj.district_name_t}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal">ตำบล</label>
                    <div>
                        <p-autoComplete [(ngModel)]="manageOfficerForm.rftSubDistrict" formControlName="sub_district_name_t" [suggestions]="subDistrictList" [dropdown]="true" [disabled]="manageOfficerForm.rftDistrict.district_ref == null" (completeMethod)="autocompleteSubDistrict($event)"
                            (onDropdownClick)="handleCompleteClickSubDistrict($event)" field="sub_district_name_t" (onSelect)="selectSubDistrict()" forceSelection="true" name="autocompleteSubdistrict">
                            <ng-template let-obj pTemplate="item">
                                {{obj.sub_district_name_t}}
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal"> รหัสไปรษณีย์ </label>
                    <div>
                        <input type="text" [(ngModel)]="manageOfficerForm.rftSubDistrict.postcode" formControlName="postcode" name="postcode" disabled="true" pInputText>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <label class="normal"> เบอร์โทรศัพท์ *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.phone_no" formControlName="phone_no" name="phone_no" type="text" maxlength="10" pInputText>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal"> อีเมล *</label>
                    <div>
                        <input [(ngModel)]="manageOfficerForm.acOfficer.email" formControlName="email" name="email" type="email" pInputText>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="row center">
                <img src="{{ image }}" class="image-preview fixed-image">
            </div>
            <div class="row center">
                <label (change)="onUpload($event)" class="btn-positive" label="เลือกไฟล์" pButton>
            <input
              name="image"
              type="file"
              accept="image/*, application/pdf"
              class="display-none">
          </label>
            </div>
            <div class="row center">
                <div>
                    <p-checkbox binary="true" label="สามารถจัดการเจ้าหน้าที่">
                    </p-checkbox>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-xs-9">
        <button pButton type="submit" class="ui-button-success" label="บันทึก" (click)="onSubmit()">
        </button>
        <button pButton type="button" class="btn-normal" label="รีเซ็ท" (click)="onResetClick()">
        </button>
        <button pButton type="button" style="float: right;" class="btn-negative" label="กลับ" (click)="onPageSearch()">
        </button>
    </div>
</div>