<div class="row overide-row">
    <div class="col-xs-6">
        <label class="normal">ผู้ปกครอง</label>
        <label>{{acParent.parent_flag=='1'?'บิดา-มารดา':'ผู้อุปการะ'}}</label>
    </div>
</div>
<div class="row overide-row"  *ngIf="acParent.parent_flag == '1'">
    <div class="col-xs-6">
        <label class="normal">สถานะความสัมพันธ์</label>
        <label>{{acParent.relationship_status=='1'?'สมรสและอยู่ด้วยกัน':acParent.relationship_status=='2'?'สมรสแต่ไม่ได้อยู่ด้วยกัน':'หย่าร้าง'}}</label>
    </div>
    <div class="col-xs-6" *ngIf="acParent.relationship_status == '2'">
        <label class="normal">เหตุผล</label>
        <label>{{acParent.because}}</label>
    </div>
</div>
<div class="row overide-row" *ngIf="acParent.parent_flag == '1'">
    <h4 class="custom-panel-title">บิดา</h4>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เลขประจำตัวประชาชน</label>
            <label>{{acParent.father_pid}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">สถานะ</label>
            <label>{{acParent.father_status=='1'?'มีชีวิตอยู่':'เสียชีวิต'}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ชื่อ - สกุล</label>
            <label>{{acParent.father_name}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">วันเกิด</label>
            <label>{{acParent.father_birth_date}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">ที่อยู่</label>
            <label>{{acParent.father_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">จังหวัด</label>
            <label>{{acParent.father_province | province | async }}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อำเภอ</label>
            <label>{{acParent.father_district | district | async }}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ตำบล</label>
            <label>{{acParent.father_sub_district | subdistrict | async }}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">รหัสไปรษณีย์</label>
            <label>{{acParent.father_postcode}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์</label>
            <label>{{acParent.father_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อีเมลล์</label>
            <label>{{acParent.father_email}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">อาชีพ</label>
            <label>{{acParent.father_occupation}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">ตำแหน่ง</label>
            <label>{{acParent.father_position}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">สถานที่ทำงาน</label>
            <label>{{acParent.father_work_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
            <label>{{acParent.father_work_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">แฟกต์</label>
            <label>{{acParent.father_work_fax}}</label>
        </div>
    </div>
    <div class="row overide-row" *ngIf="acParent.father_land_flag =='2'">
        <label class="normal">ที่ดิน</label>
        <div class="col-xs-3">
            <label>ทั้งหมด : {{acParent.father_land_all}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label>เป็นเจ้าของ :  {{acParent.father_land_own}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label> เช่า : {{acParent.father_land_rent}} ไร่</label>
        </div>
    </div>
    <div class="row overide-row">
        <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
        <label>{{acParent.father_income_monthly}} บาท</label>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">มารดา</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เลขประจำตัวประชาชน</label>
            <label>{{acParent.mother_pid}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">สถานะ</label>
            <label>{{acParent.mother_status=='1'?'มีชีวิตอยู่':'เสียชีวิต'}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ชื่อ - สกุล</label>
            <label>{{acParent.mother_name}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">วันเกิด</label>
            <label>{{acParent.mother_birth_date}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">ที่อยู่</label>
            <label>{{acParent.mother_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">จังหวัด</label>
            <label>{{acParent.mother_province|province|async}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อำเภอ</label>
            <label>{{acParent.mother_district|district|async}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ตำบล</label>
            <label>{{acParent.mother_sub_district|subdistrict|async}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">รหัสไปรษณีย์</label>
            <label>{{acParent.mother_postcode}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์</label>
            <label>{{acParent.mother_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อีเมลล์</label>
            <label>{{acParent.mother_email}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">อาชีพ</label>
            <label>{{acParent.mother_occupation}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">ตำแหน่ง</label>
            <label>{{acParent.mother_position}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">สถานที่ทำงาน</label>
            <label>{{acParent.mother_work_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
            <label>{{acParent.mother_work_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">แฟกต์</label>
            <label>{{acParent.mother_work_fax}}</label>
        </div>
    </div>
    <div class="row overide-row" *ngIf="acParent.mother_land_flag =='2'">
        <label class="normal">ที่ดิน</label>
        <div class="col-xs-3">
            <label>ทั้งหมด : {{acParent.mother_land_all}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label>เป็นเจ้าของ :  {{acParent.mother_land_own}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label> เช่า : {{acParent.mother_land_rent}} ไร่</label>
        </div>
    </div>
    <div class="row overide-row">
        <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
        <label>{{acParent.mother_income_monthly}} บาท</label>
    </div>
</div>
<div class="row overide-row" *ngIf="acParent.parent_flag != '1'">
    <h4 class="custom-panel-title">ผู้ปกครอง</h4>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เลขประจำตัวประชาชน</label>
            <label>{{acParent.patrol_pid}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">สถานะ</label>
            <label>{{acParent.patrol_status=='1'?'มีชีวิตอยู่':'เสียชีวิต'}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ชื่อ - สกุล</label>
            <label>{{acParent.patrol_name}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">วันเกิด</label>
            <label>{{acParent.patrol_birth_date}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">ที่อยู่</label>
            <label>{{acParent.patrol_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">จังหวัด</label>
            <label>{{acParent.patrol_province|province|async}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อำเภอ</label>
            <label>{{acParent.patrol_district|district|async}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">ตำบล</label>
            <label>{{acParent.patrol_sub_district|subdistrict|async}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">รหัสไปรษณีย์</label>
            <label>{{acParent.patrol_postcode}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์</label>
            <label>{{acParent.patrol_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">อีเมลล์</label>
            <label>{{acParent.patrol_email}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">อาชีพ</label>
            <label>{{acParent.patrol_occupation}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">ตำแหน่ง</label>
            <label>{{acParent.patrol_position}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label class="normal">สถานที่ทำงาน</label>
            <label>{{acParent.patrol_work_address}}</label>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-6">
            <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
            <label>{{acParent.patrol_work_phone}}</label>
        </div>
        <div class="col-xs-6">
            <label class="normal">แฟกต์</label>
            <label>{{acParent.patrol_work_fax}}</label>
        </div>
    </div>
    <div class="row overide-row" *ngIf="acParent.patrol_land_flag =='2'">
        <label class="normal">ที่ดิน</label>
        <div class="col-xs-3">
            <label>ทั้งหมด : {{acParent.patrol_land_all}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label>เป็นเจ้าของ :  {{acParent.patrol_land_own}} ไร่</label>
        </div>
        <div class="col-xs-3">
            <label> เช่า : {{acParent.patrol_land_rent}} ไร่</label>
        </div>
    </div>
    <div class="row overide-row">
        <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
        <label>{{acParent.patrol_income_monthly}} บาท</label>
    </div>
</div>
