<form [formGroup]="searchFormGroup" (ngSubmit)="onSearch()">
  <div class="row overide-row">
    <div class="col-xs-2">
      <label class="normal">ปีการศึกษา *</label>
      <input type="text" class="input-year" pInputText maxlength="4" formControlName="year" [(ngModel)]="searchForm.search_criteria.year">
    </div>

    <div class="col-xs-8">
      <label class="normal">ทุนการศึกษา</label>
      <p-autoComplete class="autocomplete-scholarships" maxlength="50" [dropdown]="true" field="scholarship_name" [suggestions]="scholarships"
        [forceSelection]="true" formControlName="scholarship_name" [(ngModel)]="scholarship" (onSelect)="onSelectScholarship()"
        (onDropdownClick)="handleCompleteClickScholarships()" (completeMethod)="autocompleteScholarships($event)">
      </p-autoComplete>
    </div>

    <div class="col-xs-2">
      <label class="normal">รอบที่</label>
      <input type="text" class="input-round" pInputText maxlength="1" formControlName="round" [(ngModel)]="searchForm.search_criteria.round">
    </div>
  </div>

  <div class="row overide-row">
    <div class="col-xs-4">
      <label class="normal">สำนักวิชา</label>
      <p-autoComplete class="autocomplete-province" field="school_name_t" [(ngModel)]="rftSchool" [suggestions]="schoolList" [forceSelection]="true"
        [dropdown]="true" formControlName="school_ref" (onDropdownClick)="handleCompleteClickSchools()" (completeMethod)="autoCompleteSchools($event)"
        (onSelect)="selectSchool()">
      </p-autoComplete>
    </div>
    <div class="col-xs-4">
      <label class="normal">สาขาวิชา</label>
      <p-autoComplete class="autocomplete-province" field="major_name_t" [(ngModel)]="rftMajor" [suggestions]="majorsList" [forceSelection]="true"
        formControlName="major_ref" [disabled]="!searchForm.search_criteria.school_ref" [dropdown]="true" (onDropdownClick)="handleCompleteClickMajor()"
        (completeMethod)="autoCompleteMajor($event)" (onSelect)="selectMajor()">
      </p-autoComplete>
    </div>
  </div>
  <div class="row overide-row">
    <div class="col-xs-2">
      <label class="normal">รหัสนักศึกษา</label>
      <input type="text" class="input-id" pInputText maxlength="10" formControlName="student_id" [(ngModel)]="searchForm.search_criteria.student_id">
    </div>

  </div>


  <!-- Action buttons here -->
  <div class="row overide-row btn-row">
    <div class="col-xs-6 btn-panel-left">
      <button pButton class="btn-search primary" label="ค้นหาข้อมูล" type="submit"></button>
    </div>
    <div class="col-xs-6 btn-panel-right">
      <button pButton (click)="onReset()" class="btn-reset ui-button-warning" label="เริ่มใหม่"></button>
    </div>
  </div>
</form>

<p-dataTable [value]="studentEarnList"  [rows]="10" [paginator]="true" [pageLinks]="3"
  [rowsPerPageOptions]="[5,10,20]" emptyMessage="ไม่พบข้อมูล" [loading]="onLoad">

  <p-column field="" header="ลำดับ" styleClass="no">
    <ng-template pTemplate="body" let-index="rowIndex">{{index+1}}</ng-template>
  </p-column>
  <p-column field="year" header="ปีการศึกษา" styleClass="year"></p-column>
  <p-column field="scholarship_name" header="ทุนการศึกษา" styleClass="scholarship"></p-column>
  <p-column field="round" header="รอบที่" styleClass="no"></p-column>
  <p-column field="" header="นักศึกษาที่ได้รับทุน" styleClass="student">
    <ng-template let-app="rowData" let-ri="rowIndex" pTemplate="body">
      <span class="name">{{app['name']}}</span> &nbsp; <small>Student ID: {{app['student_id']}}</small>
      <br>
      <small>{{app['school_name_t']}}</small>
      <br>
      <small>{{app['major_name_t']}}</small>
    </ng-template>
  </p-column>
</p-dataTable>
