.no {
  width: 30px;
  text-align: center;
}

.year {
  width: 60px;
  text-align: center;
}

.name {
  float: left;
  clear: both;
  font-weight: 500;
 }
  .student {
    width: 200px;
  }
  .scholarship {
    width: 250px;
  }
  .id{
    float: right 50px ;
  }
