<div *ngIf="pageRender">
    <div class="row overide-row">
        <h4 class="custom-panel-title">ข้อมูลทุนการศึกษา</h4>
    </div>
    <div class="row overide-row" styleClass="fullWidth">
        <div class="col-xs-12">
            <label class="normal">ทุนการศึกษา *</label>
            <p> {{applicationView.applyScholarshipViewForm.autocompleteScholarshipAnnouncement}} </p>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-3">
            <label class="normal">ประเภททุนการศึกษา</label>
            <p>{{applicationView.applyScholarshipViewForm.sctype_name}}</p>
        </div>
        <div class="col-xs-6">
            <label class="normal">ผู้สนับสนุน</label>
            <p>{{applicationView.applyScholarshipViewForm.sponsors_name}}</p>
        </div>
        <div class="col-xs-3">
            <label class="normal">เกรดขั้นต่ำ</label>
            <p>{{applicationView.applyScholarshipViewForm.min_gpax}}</p>
        </div>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <label for="" class="normal">รายละเอียดทุนการศึกษา</label>
            <p>{{applicationView.applyScholarshipViewForm.detail}}</p>
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">ประวัติทุนการศึกษา (ทุกประเภท)</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <p-dataTable [value]="applicationView.applyScholarshipViewForm.apScholarshipHistory" [immutable]="false">
                <p-column styleClass="datatable-index" header="ลำดับ" field="seq">
                    <ng-template let-col let-obj="rowIndex" pTemplate="body">
                        {{obj+1}}
                    </ng-template>
                </p-column>
                <p-column header="ชื่อทุนการศึกษา" field="scholarship_name">
                    <ng-template let-col let-obj="rowData" pTemplate="body">
                        <p>{{obj.scholarship_name}}</p>
                    </ng-template>
                </p-column>
                <p-column header="ปีการศึกษา" field="year" size="20px">
                    <ng-template let-col let-obj="rowData" pTemplate="body">
                        <p>{{obj.year}}</p>
                    </ng-template>
                </p-column>
                <p-column field="debt_amount" header="จำนวน(บาท)">
                    <ng-template let-col let-obj="rowData" pTemplate="body">
                        <p>{{obj.money_amount}}</p>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">กองทุนกู้ยืมเพื่อการศึกษา</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12 txt-area-center">
            <p-dataTable [value]="applicationView.applyScholarshipViewForm.apStudentLoanFund" [immutable]="false">
                <p-column styleClass="datatable-index" header="ลำดับ" field="student_loan_seq">
                    <ng-template let-col let-obj="rowIndex" pTemplate="body">
                        {{obj+1}}
                    </ng-template>
                </p-column>
                <p-column header="ปีการศึกษา" field="year">
                    <ng-template let-col let-obj="rowData" pTemplate="body">
                        <p>{{obj.year}}</p>
                    </ng-template>
                </p-column>
                <p-column field="money_amount" header="จำนวน(บาท)">
                    <ng-template let-col let-obj="rowData" pTemplate="body">
                        <p>{{obj.money_amount}}</p>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">แผนการใช้เงิน</h4>
        <div class="col-xs-12 txt-area-center">
            <p>{{applicationView.applyScholarshipViewForm.apApplication.money_spend_plan}}</p>
        </div>
    </div>
    <div class="row formFooter overide-row">
        <div class="col-xs-6 btn-panel-left">
            <button class="ui-button-warning" type="button" (click)="onPrevious()" label="กลับ" pButton>
        </button>
        </div>
        <div class="col-xs-6 btn-panel-right">
            <button class="ui-button-primary" type="submit" label="ถัดไป" (click)="onNext()" pButton>
          </button>
        </div>
    </div>
</div>
