<div *ngIf="pageRender">
    <div class="row overide-row">
        <h4 class="custom-panel-title">ข้อมูลเอกสารหลักฐาน</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12">
            <!-- applyApplication.applyApplicationForm.documentList -->
            <p-dataList [value]="applicationView.applyScholarshipViewForm.documentList">
                <ng-template let-doc pTemplate="item">
                    <div class="row overide-row">
                        <div class="col-xs-5">
                            <label class="normal-inline">
                    {{doc.docname}}
                  </label>
                        </div>
                        <div class="col-xs-4">
                            <label class="normal-inline">
                    {{doc.document_name}}
                  </label>
                        </div>
                        <div class="col-xs-3">
                            <button type="submit" (click)="onSelect(doc)" pButton label="เปิดไฟล์"></button>
                        </div>
                    </div>
                </ng-template>
            </p-dataList>
        </div>
    </div>
</div>
<p-dialog header="{{document_selected.document_name}}" [(visible)]="document_display" closeOnEscap="document_display = false">
    <img [src]=document_selected.document_image class="center">
    <p-footer>
        <button class="center" type="submit" (click)="document_display = false" label="ปิด" pButton></button>
    </p-footer>
</p-dialog>
