<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>{{address.home_address}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>{{address.home_province|province|async}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>{{address.home_district | district|async}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>{{address.home_sub_district|subdistrict|async}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>{{address.home_postcode}}</p>
  </div>
</div>
<div class="row overide-row">
<h4 class="custom-panel-title">แผนที่</h4>
</div>
<div class="row overide-row direction-upload">
  <!-- applyApplication.applyApplicationForm.acAddress.direction_image -->
      <img style="width:100%" src="{{address.direction_image}}">
</div>
<div class="row overide-row">
  <h4 class="custom-panel-title">ที่อยู่ปัจจุบัน</h4>
</div>
<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>{{address.current_address}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>{{address.current_province|province|async}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>{{address.current_district|district|async}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>{{address.current_sub_district|subdistrict|async}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>{{address.current_postcode}}</p>
  </div>
</div>
