<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>home_address</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>home_province</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>home_district</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>home_sub_district</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>home_postcode</p>
  </div>
</div>
<div class="row overide-row">
<h4 class="custom-panel-title">แผนที่</h4>
</div>
<div class="row overide-row direction-upload">
  <!-- applyApplication.applyApplicationForm.acAddress.direction_image -->
      <img src="">
</div>
<div class="row overide-row">
  <h4 class="custom-panel-title">ที่อยู่ปัจจุบัน</h4>
</div>
<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>current_address</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>current_province</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>current_district</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>current_sub_district</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>current_postcode</p>
  </div>
</div>
