<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.home_address}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.home_province}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.home_district}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.home_sub_district}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.home_postcode}}</p>
  </div>
</div>
<div class="row overide-row">
<h4 class="custom-panel-title">แผนที่</h4>
</div>
<div class="row overide-row direction-upload">
  <!-- applyApplication.applyApplicationForm.acAddress.direction_image -->
      <img src="{{applicationView.applyScholarshipViewForm.acAddress.direction_image}}">
</div>
<div class="row overide-row">
  <h4 class="custom-panel-title">ที่อยู่ปัจจุบัน</h4>
</div>
<div class="row overide-row">
  <div class="col-xs-12">
      <label class="normal">ที่อยู่</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.current_address}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">จังหวัด</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.current_province}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">อำเภอ</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.current_district}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ตำบล</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.current_sub_district}}</p>
  </div>
  <div class="col-xs-6">
      <label class="normal">รหัสไปรษณีย์</label>
      <p>{{applicationView.applyScholarshipViewForm.acAddress.current_postcode}}</p>
  </div>
</div>
