<div class="row">
    <div class="col-xs-8">
        <label class="normal"> รหัสเจ้าหน้าที่</label>
        <div>
            <input type="text">
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> สถานะ</label>
        <div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <label class="normal"> ชื่อ</label>
        <div>
            <input>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> นามสกุล</label>
        <div>
            <input>
        </div>
    </div>
    <div class="col-xs-4">
        <label class="normal"> เลขประชาชน/พาสปอร์ต</label>
        <div>
            <input>
        </div>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <div class="col-xs-12">

        <button pButton type="submit" class="btn-positive" label="ค้นหา">
</button>
        <button pButton type="button" class="btn-normal" label="รีเซ็ท">
</button>
        <button pButton type="button" style="float: right;" class="btn-negative" label="สร้างใหม่">
</button>
    </div>
</div>
<div class="space"></div>
<div class="row">
    <label for="">datatable</label>
</div>