<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ผู้ปกครอง</label>
      <p>{{setParentsFlag(applicationView.applyScholarshipViewForm.acParent.parent_flag)}}</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">สถานะความสัมพันธ์</label>
      <p>{{setRelationShipStatus(applicationView.applyScholarshipViewForm.acParent.relationship_status)}}</p>
  </div>
  <div class="col-xs-6" *ngIf="applicationView.applyScholarshipViewForm.acParent.relationship_status == '2'">
      <label class="normal">เหตุผล</label>
      <p>{{applicationView.applyScholarshipViewForm.acParent.because}}</p>
  </div>
</div>
<div class="row overide-row" *ngIf="applicationView.applyScholarshipViewForm.acParent.parent_flag == '1'">
  <h4 class="custom-panel-title">บิดา</h4>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_pid}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>{{setStatusFlag(applicationView.applyScholarshipViewForm.acParent.father_status)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_name}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>{{utilsService.getBirthDay(applicationView.applyScholarshipViewForm.acParent.father_birth_date)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_province}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_district}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_sub_district}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_postcode}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_email}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_occupation}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_position}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_work_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_work_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.father_work_fax}}</p>
      </div>
  </div>
  <div class="row overide-row" *ngIf="applicationView.applyScholarshipViewForm.acParent.father_land_flag =='2'">
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>ทั้งหมด: {{applicationView.applyScholarshipViewForm.acParent.father_land_all}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เป็นเจ้าของ: {{applicationView.applyScholarshipViewForm.acParent.father_land_own}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เช่า: {{applicationView.applyScholarshipViewForm.acParent.father_land_rent}} ไร่</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>{{applicationView.applyScholarshipViewForm.acParent.father_income_monthly}}</p>
  </div>
  <div class="row overide-row">
      <h4 class="custom-panel-title">มารดา</h4>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_pid}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>{{setStatusFlag(applicationView.applyScholarshipViewForm.acParent.mother_status)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_name}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>{{utilsService.getBirthDay(applicationView.applyScholarshipViewForm.acParent.mother_birth_date)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_province}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_district}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_sub_district}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_postcode}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_email}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_occupation}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_position}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_work_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_work_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.mother_work_fax}}</p>
      </div>
  </div>
  <div class="row overide-row" *ngIf="applicationView.applyScholarshipViewForm.acParent.mother_land_flag =='2'">
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>ทั้งหมด: {{applicationView.applyScholarshipViewForm.acParent.mother_land_all}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เป็นเจ้าของ: {{applicationView.applyScholarshipViewForm.acParent.mother_land_own}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เช่า: {{applicationView.applyScholarshipViewForm.acParent.mother_land_rent}} ไร่</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>{{applicationView.applyScholarshipViewForm.acParent.mother_income_monthly}}</p>
  </div>
</div>
<div class="row overide-row" *ngIf="applicationView.applyScholarshipViewForm.acParent.parent_flag != '1'">
  <h4 class="custom-panel-title">ผู้ปกครอง</h4>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_pid}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>{{setStatusFlag(applicationView.applyScholarshipViewForm.acParent.patrol_status)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_name}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>{{utilsService.getBirthDay(applicationView.applyScholarshipViewForm.acParent.patrol_birth_date)}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_province}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
         <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_district}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_sub_district}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_postcode}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_email}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_occupation}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_position}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_work_address}}</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_work_phone}}</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_work_fax}}</p>
      </div>
  </div>
  <div class="row overide-row" *ngIf="applicationView.applyScholarshipViewForm.acParent.patrol_land_flag =='2'">
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>ทั้งหมด: {{applicationView.applyScholarshipViewForm.acParent.patrol_land_all}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เป็นเจ้าของ: {{applicationView.applyScholarshipViewForm.acParent.patrol_land_own}} ไร่</p>
      </div>
      <div class="col-xs-3">
          <p>เช่า: {{applicationView.applyScholarshipViewForm.acParent.patrol_land_rent}} ไร่</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>{{applicationView.applyScholarshipViewForm.acParent.patrol_income_monthly}}</p>
  </div>
</div>
