<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">ผู้ปกครอง</label>
      <p>parent_flag</p>
  </div>
</div>
<div class="row overide-row">
  <div class="col-xs-6">
      <label class="normal">สถานะความสัมพันธ์</label>
      <p>relationship_status</p>
  </div>
  <!-- *ngIf="applyApplication.applyApplicationForm.acParent.relationship_status == '2'" -->
  <div class="col-xs-6" >
      <label class="normal">เหตุผล</label>
      <p>because</p>
  </div>
</div>
<!-- *ngIf="applyApplication.applyApplicationForm.acParent.parent_flag == '1'" -->
<div class="row overide-row" >
  <h4 class="custom-panel-title">บิดา</h4>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>father_pid</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>father_status</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>father_name</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>father_birth_date</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>father_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>province_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
          <p>district_name_t</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>sub_district_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>postcode</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>father_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>father_email</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>father_occupation</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>father_position</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>father_work_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>father_work_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>father_work_fax</p>
      </div>
  </div>
  <!-- *ngIf="applyApplication.applyApplicationForm.acParent.father_land_flag =='2'" -->
  <div class="row overide-row" >
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>father_land_all</p>
      </div>
      <div class="col-xs-3">
          <p>father_land_own</p>
      </div>
      <div class="col-xs-3">
          <p>father_land_rent</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>father_income_monthly</p>
  </div>
  <div class="row overide-row">
      <h4 class="custom-panel-title">มารดา</h4>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>mother_pid</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>mother_status</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>mother_name</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>mother_birth_date</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>mother_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>province_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
          <p>district_name_t</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>sub_district_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>postcode</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>mother_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>mother_email</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>mother_occupation</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>mother_position</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>mother_work_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>mother_work_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>mother_work_fax</p>
      </div>
  </div>
  <!-- *ngIf="applyApplication.applyApplicationForm.acParent.mother_land_flag =='2'" -->
  <div class="row overide-row" >
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>mother_land_all</p>
      </div>
      <div class="col-xs-3">
          <p>mother_land_own</p>
      </div>
      <div class="col-xs-3">
          <p>mother_land_rent</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>mother_income_monthly</p>
  </div>
</div>
<!-- *ngIf="applyApplication.applyApplicationForm.acParent.parent_flag != '1'" -->
<div class="row overide-row">
  <h4 class="custom-panel-title">ผู้ปกครอง</h4>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เลขประจำตัวประชาชน</label>
          <p>patrol_pid</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">สถานะ</label>
          <p>patrol_status</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ชื่อ - สกุล</label>
          <p>patrol_name</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">วันเกิด</label>
          <p>patrol_birth_date</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">ที่อยู่</label>
          <p>patrol_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">จังหวัด</label>
          <p>province_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อำเภอ</label>
         <p>district_name_t</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">ตำบล</label>
          <p>sub_district_name_t</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">รหัสไปรษณีย์</label>
          <p>postcode</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์</label>
          <p>patrol_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">อีเมลล์</label>
          <p>patrol_email</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">อาชีพ</label>
          <p>patrol_occupation</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">ตำแหน่ง</label>
          <p>patrol_position</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12">
          <label class="normal">สถานที่ทำงาน</label>
          <p>patrol_work_address</p>
      </div>
  </div>
  <div class="row overide-row">
      <div class="col-xs-6">
          <label class="normal">เบอร์โทรศัพท์ที่ทำงาน</label>
          <p>patrol_work_phone</p>
      </div>
      <div class="col-xs-6">
          <label class="normal">แฟกต์</label>
          <p>patrol_work_fax</p>
      </div>
  </div>
  <!-- *ngIf="applyApplication.applyApplicationForm.acParent.patrol_land_flag =='2'" -->
  <div class="row overide-row">
      <label class="normal">ที่ดิน</label>
      <div class="col-xs-3">
          <p>patrol_land_all</p>
      </div>
      <div class="col-xs-3">
          <p>patrol_land_own</p>
      </div>
      <div class="col-xs-3">
          <p>patrol_land_rent</p>
      </div>
  </div>
  <div class="row overide-row">
      <label class="normal">รายได้เฉลี่ยต่อเดือน</label>
      <p>patrol_income_monthly</p>
  </div>
</div>
