<p-dataList [value]="applyApplication.applyApplicationForm.siblingList" class="sibling-list">
    <ng-template let-sib pTemplate="item" let-i="index">
        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">ชื่อ - นามสกุล *</label>
                <label>{{sib.sibling_name}}</label>
            </div>
            <div class="col-xs-4">
                <label class="normal">ปีเกิด</label>
                <label>{{sib.born_year}}</label>
            </div>
        </div>

        <div class="row overide-row">
            <div class="col-xs-4">
                <label class="normal">ระดับการศึกษา</label>
                <label>{{setEducationLevel(sib.education_level)}}</label>
            </div>
            <div class="col-xs-5">
                <label class="normal">อาชีพ</label>
                <label>{{sib.occupation}}</label>
            </div>
            <div class="col-xs-3">
                <label class="normal">รายได้เฉลี่ย/เดือน</label>
                <label>{{sib.income_monthly}}</label>
            </div>
        </div>
    </ng-template>
</p-dataList>
