<nav class="navbar navbar-red">
    <div class="container">
        <ul class="nav navbar-nav">
          <li>
            <a routerLinkActive="active" class="menu-item"
               [routerLinkActiveOptions]="{exact: true}"
               routerLink="/">หน้าหลัก</a>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ข่าวสาร <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li *ngIf="false"><a href="#">ข่าวทั่วไป</a></li>
                <li><a routerLink="/scholarships-announcement">ประกาศเปิดรับสมัคร</a></li>
                <li><a routerLink="/interviewees-announcement">ประกาศรายชื่อผู้มีสิทธิ์สัมภาษณ์</a></li>
                <li><a routerLink="/result-announcement">ประกาศรายชื่อผู้ที่ได้รับทุนการศึกษา</a></li>
              </ul>
          </li>
          <li>
            <a class="menu-item">เกี่ยวกับฝ่ายทุนการศึกษา</a>
          </li>
          <li>
            <a class="menu-item">ติดต่อ</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!status">
            <a routerLinkActive="active" class="menu-item"
               routerLink="/register">
              <span class="glyphicon glyphicon-user"></span> ลงทะเบียนผู้ใช้</a>
          </li>
          <li style="float:right"
              *ngIf="!status">
            <a routerLinkActive="active" class="menu-item"
               routerLink="/login">
              <span class="glyphicon glyphicon-log-in"></span> เข้าสู่ระบบ</a>
          </li>
          <li class="dropdown" *ngIf="status">
            <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span> {{displayName}} <span class="caret"></span>
          </a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="manageProfileURL">จัดการข้อมูลส่วนตัว</a></li>
              <li><a routerLink="/change-password">เปลี่ยนรหัสผ่าน</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="onClickLogout()" class="menu-item"><span class="glyphicon glyphicon-log-out"></span> ออกจากระบบ</a></li>
            </ul>
        </li>

        </ul>
      </div>
</nav>

