<div *ngIf="applicationView.pageRender">
    <div class="row overide-row">
        <h4 class="custom-panel-title">ข้อมูลส่วนตัว</h4>
        <div class="col-xs-9">
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">เลขประจำตัวประชาชน</label>
                    <div class="info">
                        <p> {{applicationView.applyScholarshipForm.acStudent.personal_id}}</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal">รหัสนักศึกษา</label>
                    <div>
                        <p>{{applicationView.applyScholarshipForm.acStudent.student_id}}</p>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">ชื่อ-สกุล</label>
                    <div>
                        <label>
                        <p>{{applicationView.applyScholarshipForm.student_name}}</p>
                      </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="normal">เพศ</label>
                    <div>
                        <label>
                        {{utilsService.getGender(applicationView.applyScholarshipForm.acStudent.gender)}}
                      </label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">วันเกิด</label>
                    <div>
                        {{utilsService.getBirthDay(applicationView.applyScholarshipForm.acStudent.birth_date)}}
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">อายุ</label>
                    <div>
                        <p>{{utilsService.getAge(applicationView.applyScholarshipForm.acStudent.birth_date)}} </p>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">สัญชาติ</label>
                    <div>
                        <p>{{applicationView.applyScholarshipForm.acStudent.nationality}}</p>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">เชื้อชาติ</label>
                    <p>{{applicationView.applyScholarshipForm.acStudent.race}}</p>
                </div>

                <div class="col-xs-6">
                    <label class="normal">ศาสนา</label>
                    <p>{{applicationView.applyScholarshipForm.acStudent.religion}}</p>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">สำนักวิชา</label>
                    <p>{{applicationView.applyScholarshipForm.rftSchool.school_name_t}}</p>
                </div>
                <div class="col-xs-6">
                    <label class="normal">สาขาวิชา</label>
                    <p>{{applicationView.applyScholarshipForm.rftMajor.major_name_t}}</p>
                </div>
            </div>
            <div class="row overide-row ">
                <div class="col-xs-4 ">
                    <label class="normal ">เบอร์โทรศัพท์</label>
                    <p>{{applicationView.applyScholarshipForm.acStudent.phone_no}}</p>
                </div>
                <div class="col-xs-8">
                    <label class="normal">Email</label>
                    <p>{{applicationView.applyScholarshipForm.acStudent.email}}</p>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-4">
                    <label class="normal">ชั้นปีการศึกษา</label>
                    <p>{{applicationView.applyScholarshipForm.apApplication.collage_year}}</p>
                </div>
                <div class="col-xs-2">
                    <label class="normal">GPAX</label>
                    <p>{{applicationView.applyScholarshipForm.apApplication.gpax}}</p>
                </div>
                <div class="col-xs-6 ">
                    <label class="normal ">อาจารย์ที่ปรึกษา</label>
                    <p>{{applicationView.applyScholarshipForm.apApplication.advisor_name}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 center">
            <!-- {{applyApplication.applyApplicationForm.acStudent.profile_image}} -->
            <img class="image-profile" src="{{applicationView.applyScholarshipForm.acStudent.profile_image}}">
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">การดำรงชีวิต</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12 txt-area-center">
            <label class="normal ">กรุณาเขียนบรรยายความเป็นอยู่ของนักศึกษา</label>
            <p>{{applicationView.applyScholarshipForm.apApplication.livelihood}}</p>
        </div>
    </div>
    <div class="col-xs-12 btn-panel-right">
        <button class="btn-next primary" type="submit" label="ถัดไป" (click)="onNext()" pButton>
      </button>
    </div>
</div>
