
    <div class="row overide-row">
        <div class="col-xs-9">
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">เลขประจำตัวประชาชน</label>
                    <div class="info">
                        <p> {{childForm.acStudent.personal_id}}</p>
                    </div>
                </div>
                <div class="col-xs-6">
                    <label class="normal">รหัสนักศึกษา</label>
                    <div>
                        <p>{{childForm.acStudent.student_id}}</p>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">ชื่อ-สกุล</label>
                    <div>
                        <label>
                        <p>{{childForm.acStudent.student_name}}</p>
                      </label>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label class="normal">เพศ</label>
                    <div>
                        <label>
                        {{utilsService.getGender(childForm.acStudent.gender)}}
                      </label>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">วันเกิด</label>
                    <div>
                        {{utilsService.getBirthDay(childForm.acStudent.birth_date)}}
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">อายุ</label>
                    <div>
                        <p>{{utilsService.getAge(childForm.acStudent.birth_date)}} </p>
                    </div>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-3">
                    <label class="normal">สัญชาติ</label>
                    <div>
                        <p>{{childForm.acStudent.nationality}}</p>
                    </div>
                </div>

                <div class="col-xs-3">
                    <label class="normal">เชื้อชาติ</label>
                    <p>{{childForm.acStudent.race}}</p>
                </div>

                <div class="col-xs-6">
                    <label class="normal">ศาสนา</label>
                    <p>{{childForm.acStudent.religion}}</p>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-6">
                    <label class="normal">สำนักวิชา</label>
                    <p>{{childForm.acStudent.school_name_t}}</p>
                </div>
                <div class="col-xs-6">
                    <label class="normal">สาขาวิชา</label>
                    <p>{{childForm.acStudent.major_name_t}}</p>
                </div>
            </div>
            <div class="row overide-row ">
                <div class="col-xs-4 ">
                    <label class="normal ">เบอร์โทรศัพท์</label>
                    <p>{{childForm.acStudent.phone_no}}</p>
                </div>
                <div class="col-xs-8">
                    <label class="normal">Email</label>
                    <p>{{childForm.acStudent.email}}</p>
                </div>
            </div>
            <div class="row overide-row">
                <div class="col-xs-4">
                    <label class="normal">ชั้นปีการศึกษา</label>
                    <p>{{childForm.apApplication.collage_year}}</p>
                </div>
                <div class="col-xs-2">
                    <label class="normal">GPAX</label>
                    <p>{{childForm.apApplication.gpax}}</p>
                </div>
                <div class="col-xs-6 ">
                    <label class="normal ">อาจารย์ที่ปรึกษา</label>
                    <p>{{childForm.apApplication.advisor_name}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 center">
            <img class="image-profile" src="{{childForm.acStudent.profile_image}}">
        </div>
    </div>
    <div class="row overide-row">
        <h4 class="custom-panel-title">ความเป็นอยู่ของนักศึกษา</h4>
    </div>
    <div class="row overide-row">
        <div class="col-xs-12 txt-area-center" [innerText]="childForm.apApplication.livelihood">
            
        </div>
    </div>
