  <div class="row overide-row">
      <h4 class="custom-panel-title">ข้อมูลส่วนตัว</h4>
      <div class="col-xs-9">
          <div class="row overide-row">
              <div class="col-xs-6">
                  <label class="normal">เลขประจำตัวประชาชน</label>
                  <div class="info">
                      <p> personal_id</p>
                  </div>
              </div>
              <div class="col-xs-6">
                  <label class="normal">รหัสนักศึกษา</label>
                  <div>
                      <p>student_id</p>
                  </div>
              </div>
          </div>
          <div class="row overide-row">
              <div class="col-xs-3">
                  <label class="normal">ชื่อ-สกุล</label>
                  <div>
                      <label>
                        <p>name + lastname</p>
                      </label>
                  </div>
              </div>
              <div class="col-xs-3">
                  <label class="normal">เพศ</label>
                  <div>
                      <label>
                        gender
                      </label>
                  </div>
              </div>

              <div class="col-xs-3">
                  <label class="normal">วันเกิด</label>
                  <div>
                      birth_day
                  </div>
              </div>

              <div class="col-xs-3">
                  <label class="normal">อายุ</label>
                  <div>
                      <p>age </p>
                  </div>
              </div>
          </div>
          <div class="row overide-row">
              <div class="col-xs-3">
                  <label class="normal">สัญชาติ</label>
                  <div>
                      <p>nationality</p>
                  </div>
              </div>

              <div class="col-xs-3">
                  <label class="normal">เชื้อชาติ</label>
                      <p>race</p>
              </div>

              <div class="col-xs-6">
                  <label class="normal">ศาสนา</label>
                      <p>religion</p>
              </div>
          </div>
          <div class="row overide-row">
              <div class="col-xs-6">
                  <label class="normal">สำนักวิชา</label>
                 <p>school_name_t</p>
              </div>
              <div class="col-xs-6">
                  <label class="normal">สาขาวิชา</label>
                 <p>major_name_t</p>
              </div>
          </div>
          <div class="row overide-row ">
              <div class="col-xs-4 ">
                  <label class="normal ">เบอร์โทรศัพท์</label>
                 <p>phone_no</p>
              </div>
              <div class="col-xs-8">
                  <label class="normal">Email</label>
                  <p>email</p>
              </div>
          </div>
          <div class="row overide-row">
              <div class="col-xs-4">
                  <label class="normal">ชั้นปีการศึกษา</label>
                  <p>collage_year</p>
              </div>
              <div class="col-xs-2">
                  <label class="normal">GPAX</label>
                  <p>gpax</p>
              </div>
              <div class="col-xs-6 ">
                  <label class="normal ">อาจารย์ที่ปรึกษา</label>
                  <p>advisor_name</p>
              </div>
          </div>
      </div>
      <div class="col-xs-3 center">
          <!-- {{applyApplication.applyApplicationForm.acStudent.profile_image}} -->
          <img class="image-profile"
            src="" >
      </div>
  </div>
  <div class="row overide-row">
      <h4 class="custom-panel-title">การดำรงชีวิต</h4>
  </div>
  <div class="row overide-row">
      <div class="col-xs-12 txt-area-center">
          <label class="normal ">กรุณาเขียนบรรยายความเป็นอยู่ของนักศึกษา</label>
          <p>livelihood</p>
      </div>
  </div>
  <div class="col-xs-12 btn-panel-right">
      <button class="btn-next primary"
        type="submit"
        label="ถัดไป"
        (click)="onNext()"
        pButton>
      </button>
  </div>
